*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Oswald', sans-serif;
}


body{
    width: 100%;
    min-height: 10    0vh;
    background-image: url(images/dirt.avif);
}

.container{
    padding: 40px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.board{
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    background-image: url(images/grass.jpeg)
}

.box{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    align-content: center;
    border: solid 1px black;
/*    background: rgba(67,67,67, 0.63);*/
    background-image: url(images/mole-hidden.png);
    background-size: cover;
}

#restart{
    padding: 10px 20px;;
    color: white;
    background-color: rebeccapurple;
    border-color: black;
    border-radius: 50px;
    font-size: 1em;
    }

#restart:hover{
    transform: translateY()-2px;
}

.mole{
    background-image: url(images/mole.webp);
    background-size: cover;
}

h2{
    color: red;
    font-weight: 600;
    font-size: 2em;
}

.buttons{
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow: auto;

}
#easy{
    padding: 10px 10px;
    color: yellow;
    background-color:darkgray;
    border-color: darkgray;
    border-radius: 5px;
    font-size: 1em;

}
#medium{
    padding: 10px 10px;
    color: yellow;
    background-color:darkgray;
    border-color: darkgray;
    border-radius: 5px;
    font-size: 1em;

}

#pro{
    padding: 10px 10px;
    color: yellow;
    background-color:darkgray;
    border-color: darkgray;
    border-radius: 5px;
    font-size: 1em;

}



